cython
attrs
typing_extensions
h5py
numpy
numba
scipy>=1.8
scikit-image
pydicom
pandas
scikit-learn
matplotlib>3.5
pyvista==0.43.1
pymeshfix
trimesh
shapely
meshio
pynrrd
pycpd @ git+https://github.com/siavashk/pycpd.git@e5ca02d2501fb4b633c1664de939c336ffa2349e
